body, html {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 65vh;
}

.player {
    width: 100%;
    height: 80vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    
    width: 1500px;
    height: 80vh;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.containerLetra{
    padding-top: 600px;
    padding-bottom: 5px;
    /* overflow-y: auto; */
}

.info-content {
    text-align: center;
}
.absolute{
    /* position: absolute; */
    top: 5px;
    width: 100%;
    height: 20px;
}
.absoluteInfo{
    /* position: absolute; */
    top: 10px;
    width: 100%;
    height: 140px;
}

.arrowAjuste{
    position: relative;
    left: 20px;
    top: 10px;
    font-size: larger;
}
.logoArtist {
    position: relative;
    top: -30px;
    left: 20px;
    padding: 10px; /*Adiciona algum espaço ao redor da imagem */
    width: 7%;
}

.lateral{
    width: 300px;
}
.artist-name {
    position: relative;
    width: 800px;
    font-size: 20px;
    font-weight: bold;
    top: 55px;
    left: 170px;
    /* padding: 10px; Adiciona algum espaço ao redor do elemento */
}

img{
    border-radius: 50%;
    width: 5%;
}