body, html {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: auto;
}

/* .player {
    width: 100%;
    height: 80vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.divLateral{
    position: absolute;
}
.info {
    
    width: 1000px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* scrollbar-gutter: inherit; */
    scrollbar-width: normal;
    scrollbar-color: darkgray black;
    
}

.info:hover{
    scrollbar-color: orange black;
}
.containerLetra{
    /* padding-top: 6px; */
    padding-bottom: 5px;
    color: #fff;
    font-size: 15px;
    height: 550px;
    /* overflow-y: auto; */
}

.info-content {
    text-align: center;
}
.absolute{
    /* position: absolute; */
    /* top: 5px; */
    width: 100%;
    height: 20px;
}
.absoluteInfo{
    /* position: absolute; */
    top: 10px;
    width: 100%;
    height: 120px;
}

.arrowAjuste{
    position: relative;
    left: 5px;
    top: 10px;
    font-size: 25px;
    color: #fff;
}

.arrowAjuste:hover{
    color: rgba(255, 110, 13, 0.95);
    cursor: pointer
}
.logoArtist {
    position: relative;
    top: -30px;
    left: 20px;
    padding: 10px; /*Adiciona algum espaço ao redor da imagem */
    width: 7%;
}

.lateral{
    position: relative;
    color: #fff;
    width: 300px;
    top: -470px;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    align-content: center;
    text-align: justify;
}
.artist-name {
    position: relative;
    width: 800px;
    font-size: 20px;
    font-weight: bold;
    top: 80px;
    left: 190px;
    color: #fff;
    /* padding: 10px; Adiciona algum espaço ao redor do elemento */
}

.imgArtista{
    border-radius: 50%;
    width: 10%;
}

.mudarTela{
    text-decoration: none;
    color: inherit;
}