.BackgroundColorContainer_backgroundColorContainer__YZSQ7 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(172, 99, 32)(var(--background-color));
    z-index: 0;
}